{{define "title"}}Login{{end}}

{{define "body"}}

User Login

<form method="POST" action="/admin/login">
	<input type="text" name="username" /><br/>
	<input type="password" name="password" /><br/>
	<input type="submit" value="Login" />
</form>

{{end}}