{{define "base"}}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; width=device-width" />
        <meta name="description" content="Catatan Online"/>
        <title>{{template "title" .}} | SMS</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
    </head>

    <body>

        {{template "body" .}}
            
    </body>
</html>

{{end}}