{{define "base"}}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
        <meta name="description" content="Catatan Online"/>
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/custom/base-suratkeluar.css" type="text/css" />
        <script type="text/javascript" src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/jquery/jquery.form.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/react/react.js"></script>
    </head>
    <body>
    </body>
    <script type="text/javascript" src="/react/suratkeluar.js"></script>
</html>

{{end}}
