{{define "base"}}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; width=device-width" />
        <meta name="description" content="Catatan Online"/>
        <title>Print Preview</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
        <script type="text/javascript" src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/custom/suratmasuk/printpreview.js"></script>
        <style type="text/css">
            table{
                font-size: 11px;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
            }
            td,th{
                border-top:1px solid black; 
                border-right:1px solid black; 
                padding: 5px;
            }
        </style>
    </head>

    <body style="margin-top:5px;margin-left:5px"></body>
</html>

{{end}}