{{define "base"}}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
        <meta name="description" content="Catatan Online"/>
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
        <script type="text/javascript" src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/react/react.js"></script>
        <style type="text/css">
            textarea{
                height: 100px;
                width: 200px;
            }
            .next{
                background-color: red;
            }
        </style>
    </head>
    <body class="container">
        <a href="suratmasuk/">Surat Masuk</a><br/>
        <a href="admin/">Admin</a>
    </body>
</html>

{{end}}